* {
  font-family: 'Delius Unicase', cursive;
}
.navbarbor{
  border: 5px solid transparent; 
  border-image: linear-gradient(to bottom, yellow, rgb(216, 138, 209), rgb(137, 212, 235)) 1;
}
.experimento {
  background: #ccc;
  background-image: linear-gradient(to right, rgb(226, 68, 213), rgb(46, 180, 221));
  text-shadow: 1px 1px 20px rgb(241, 238, 216);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.experimento2 {
  background: #ccc;
  background-image: linear-gradient(to right, rgb(99, 42, 91), rgb(223, 162, 202));
  text-shadow: 2px 2px 2px rgb(241, 222, 239);
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;  
}
a {
  font-family: 'Delius Unicase', cursive;
}
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
.navbar {
  background-image: url(./wallpapertip_cute-stars-wallpaper_662031.jpg);
  background-repeat: no-repeat;
  background-size: cover;  
  display: flex; 
  justify-content: space-between;
}
.nav-link, .navbar-brand {
  color: rgb(236, 220, 240);
  cursor:pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}

@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
.conte {
  background-color: rgb(247, 247, 247);
}

  }
.visually-show {
  font-size: 80px;
  text-align: center;
  font-weight: bold;
  color:rgb(215, 236, 250);
  text-shadow: 2px 2px rgb(226, 62, 171);
  padding: 50px;
  border: 5px solid lightpink;
  background-image: url("12801686_1760751420826135_2327621845655619560_n.jpg");
  background-repeat: no-repeat;
  background-size: cover;  
  display: flex; 
  justify-content: center;
  
}

body { 
  background-image: linear-gradient(to right, white, rgb(208,242,250), rgb(248, 220, 244),rgb(252, 251, 207));
  cursor: url(https://cdn.custom-cursor.com/db/pointer/32/Cute_Unicorn_ontheMoonandCloudPointer.png) , pointer!important;


}
button, a {
  cursor: url(https://cdn.custom-cursor.com/db/cursor/32/Cute_Unicorn_ontheMoonandCloudCursor.png) , default!important;
}
#sun {
  display: none;
}
.save {
  display: flex;
  align-items: stretch;
}

.left, .right, .center {
  flex: 33%;
  flex-wrap: wrap;
  padding: 20px;
  flex-direction:column;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .left, .right, .center {
    flex:100%;
  }  
  .save {
    flex-direction: column;
  }
}       
.btn-change {
  padding: 8px 24px;
  border-radius: 25px;
  border: none;
  background-color: white;
  position: fixed;
  top: 10px;
  right: 10px;
 
} 
.fas{
      font-size: 24px;
      color:black;
}
.btn-change:hover {
  padding: 8px 24px;
  border-radius: 25px;
  border: none;
  background-color: black;
  position: fixed;
  top: 10px;
  right: 10px;
 
} 
.btn-change:hover > .fas{
      font-size: 24px;
      color:white;
}